.cart-store {
  position: absolute;
  right: -270px;
  top: 80px;
  width: 300px;
  height: auto;
  background-color: #ffa500;
  display: flex;
  flex-direction: column;
  padding: 20px;
  display: none;
}

.cart-store svg {
  font-size: 2em;
  cursor: pointer;
  color: #fff;
  min-height: 20px;
}

.cart-store svg:hover {
  color: red;
  font-weight: bolder;
}

.cart-store p {
  font-size: 1em;
  font-weight: bolder;
}

.cart-store button {
  cursor: pointer;
  border: none;
  padding: 20px;
  color: #ffa500;
  font-weight: bolder;
  font-size: 1.2em;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  margin-top: 20px;
}

.cart-item img {
  max-width: 80px;
  height: auto;
}

.cartAnimate {
  opacity: 0;
  transform: translateY(-300px);
  animation: cartAnimate 0.7s forwards;
}

@keyframes cartAnimate {
  to {
    opacity: 1;
    transform: initial;
  }
}
