.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 50px;
  position: relative;
}

.item {
  width: 25%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f5dc;
  padding-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.item:hover {
  opacity: 0.7;
}

.item h2 {
  width: 70%;
  font-size: 1em;
}

.item a {
  text-decoration: none;
}

.item p {
  font-size: 1.2rem;
}

.item img {
  max-width: 50%;
  max-height: 30%;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.item button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background-color: #ffa500;
  color: #ffffff;
  font-weight: bolder;
  width: 60%;
}
